body {
    font-family: Arial, sans-serif;
    background-image: url('http://localhost/loginmenu/public/img/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #061ad1;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1102e9;
}

.erro{
    color: red;
    width: 200px;
    height: 50%;

}
.mensagem p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red; 
}